[submodule "src/Coolector.Common"]
	path = src/Coolector.Common
	url = https://github.com/noordwind/Coolector.Common.git
[submodule "src/Coolector.Dto"]
	path = src/Coolector.Dto
	url = https://github.com/noordwind/Coolector.Dto.git
[submodule "src/Services/Coolector.Services"]
	path = src/Services/Coolector.Services
	url = https://github.com/noordwind/Coolector.Services.git
[submodule "src/Services/Coolector.Services.Remarks"]
	path = src/Services/Coolector.Services.Remarks
	url = https://github.com/noordwind/Coolector.Services.Remarks.git
[submodule "src/Services/Coolector.Services.Users"]
	path = src/Services/Coolector.Services.Users
	url = https://github.com/noordwind/Coolector.Services.Users.git
[submodule "src/Services/Coolector.Services.Storage"]
	path = src/Services/Coolector.Services.Storage
	url = https://github.com/noordwind/Coolector.Services.Storage.git
[submodule "src/Coolector.Core"]
	path = src/Coolector.Core
	url = https://github.com/noordwind/Coolector.Core
