[submodule "src/Coolector.Common"]
	path = src/Coolector.Common
	url = https://github.com/noordwind/Coolector.Common
[submodule "src/Coolector.Dto"]
	path = src/Coolector.Dto
	url = https://github.com/noordwind/Coolector.Dto
[submodule "src/Services/Coolector.Services"]
	path = src/Services/Coolector.Services
	url = https://github.com/noordwind/Coolector.Services
